/* Add your styles here. */
body {background-color: rgb(166, 166, 239);}

@media only screen and (max-width: 320px) {
    body {
      background-color: rgb(27, 135, 52);

    h1 {
        font-size: 30px;
        text-align: centre;
        position: sticky;
        background-color: rgb(215, 162, 47);
    }

    p {
        font-size: 12px;
        text-align: centre;
        position: static;
        width: 300px
    }

    img {
        width: 120px;
        height: auto;
        padding: 10px;
        border: 10px;
        margin: 10px;
    }

    div {
        margin: 40px;
    }
  }
} 
