/* Add your styles here. */
body {
    background-color: #252A38;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold ;
    color: #DCDCDC;
    
}



@media only screen and (max-width: 320px) {

    .img {
        display: grid;
        grid-area: header;
        align-content: center;
        
        width: 100%;       
    
    }
    .postedBy{
        display: grid;
        grid-area: main;
    }
      
    .postMessage {
        display: grid;
        grid-area: footer;
    }
    
      
    
      

    h1 {
       
        text-align: centre;
        position: static;
        line-height: 60px;
        font-size:40px
    }

    p {
        
        line-height: 20px;
        font-size: 14px;
        text-align: centre;
        position: static;
        width: 300px
    }

   

    .postList{
        
        grid-template-columns: 10px 200px 20px 200px;
        grid-template-rows: 3;
        grid-template-areas: 
          "header"
          "main main"
          "footer";
        background-color: #151820;        
        gap: 15px 10px;
        
        

    }

    .link-button{
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
    }
  
} 
